@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

/* for numbers  */
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
font-family: 'Poppins', sans-serif;
};
#who-iam{
    background-color: red;
    color:green;
};
